
<div class="side-bar-header">

  <div class="header-logo">家計簿</div>

</div>

<div class="link-lists">
  
  <ul class="all-lists">

    <li class="show" id="show-top">top</li>
 
    <li class="show" id="show-calendar">カレンダー </li>

    <li class="show" id="show-rireki">出費履歴 </li>

  </ul>


  <div class="list">
    <div class="list-name">
      <a href="#">新規登録</a>
    </div>
  </div>



  <table>

  <thead>
  <div>最新の履歴</div>
    <tr>
      <th>日付</th>
      <th>金額</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.last(5).each do |expense| %>
      <tr>
        <td><%= expense.start_time.strftime("%m/%d") %></td>
        <td>¥<%= expense.price %></td>
      </tr>

    <% end %>
  </tbody>
</table>




  
</div>