
<div class="side-bar-header">

  <div class="header-logo">家計簿</div>

</div>

<div class="link-lists">
  
  <ul class="all-lists">

    <li class="show" id="show-top">top</li>
 
    <li class="show" id="show-calendar">カレンダー </li>

    <li class="show" id="show-rireki">出費履歴 </li>

  </ul>


  <div class="list">
    <div class="list-name">
      <a href="#">新規登録</a>
    </div>
  </div>




  
</div>